.App {
  text-align: center;
}

body {
  background-color: #EEEEEE;
}

@media (prefers-reduced-motion: no-preference) {
  .rotate {
    animation: rotate infinite 20s linear;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
